<section class="tumblr-html tmblr-html-view">
	<div>
		<div class="tumblr-body">
			<div ng-repeat="htmlItem in tumblrHtmls | orderBy : 'DisplayOrderId'">
				<div class="tumblr-item">
                    <div class="tumblr-action-icons" ng-if="tumblrEditable">
                        <i class="fa fa-reply" ng-show="htmlItem.IsArchived" ng-click="unArchiveCardHtml(htmlItem)"></i>
                        <i class="fa fa-check" ng-show="!htmlItem.IsArchived"></i>
                    </div>
					<div ng-if="htmlItem.Type=='text'">
						<div class="text-item">{{htmlItem.Text}}</div>
					</div>
					<div ng-if="htmlItem.Type=='image'">
						<div class="image-item">
							<img style="height:{{htmlItem.ImageSize}}px" ng-src='{{htmlItem.URL}}' alt='{{htmlItem.URL}}' />
						</div>
					</div>
					<div ng-if="htmlItem.Type=='link'">
						<div class="link-item">
							<a target="_blank" href="{{htmlItem.URL}}">
								<div compile-html="htmlItem.Text">
								</div>
							</a>
						</div>
					</div>
					<div ng-if="htmlItem.Type=='video'">
						<div class="video-item">
							<iframe width="400" height="300" ng-src="{{htmlItem.URL | embedyoutube}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div ng-if="htmlItem.Type=='file'">

						<div class="file-item">
							<a target="_blank" href="{{htmlItem.URL}}">
								<img src="../../../../images/maps/t_file.jpg" />
								<span>{{htmlItem.Text}}</span>
							</a>
						</div>
					</div>
					<div ng-if="htmlItem.Type=='soundcloud'">
						<div class="sound-item">
							<iframe width="400" height="200" ng-src="{{htmlItem.URL | embedsoundcloud}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div ng-if="htmlItem.Type=='twitter'">
                        <div class="tweet-item">
                            <twitter-post tweet-post-url="{{htmlItem.URL}}"></twitter-post>
                        </div>
					</div>
					<div ng-if="htmlItem.Type=='facebook'">
						<div class="fb-item">
							<facebook-post post-url="{{htmlItem.URL}}"></facebook-post>
						</div>
					</div>
				</div>
                <div class="border-separator" ng-if="$index != (tumblrHtmls.length-1)"></div>
			</div>
            <div ng-show="!tumblrHtmls.length">
                <div class="row">
                    <div class="col-md-12">
                        No content available yet!
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
